<p><%= @resource.email %></p>

<p>Someone has requested a link to change your password.</p>

<p>Here is your reset password token: <%= @resource.reset_password_token[0, 6] %></p>
<p>please enter it at the link below to reset your password</p>

<a href="https://greengym.com.cn/reset_password"> Reset Password Link</a>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p
